---
layout: single
---
<h3>Improving Collaboration Effectiveness in Scientific Software Projects Through Team  Learning</h3>


<p style="font-size: 18px;" align="justify">Interdisciplinary group work in scientific software development is increasingly common as institutional initiatives aim to advance science through collaboration and technological innovation. These collaborations are created with the goal of solving problems that are complex in nature and benefit from the integration of varied forms of expertise and perspectives to produce software. <i>Team learning has been identified as a key process for the performance and collaboration effectiveness of scientific teams. At the same time, facilitating this form of learning remains a challenge given the breadth of expertise that must be synthesized to effectively build knowledge. </i>
<p></p>
<p></p>
<p style="font-size: 18px;" align="justify">The goal of this 2-day workshop is to bring together experts across disciplines and domains to develop an open knowledge base with tools to support and evaluate team learning in the interdisciplinary groups who produce scientific software. The products of the workshop will contribute to understanding of collaborative learning in scientific software development and use, and are open to all in service of better scientific software.</p>
<p></p>
<hr>
<p style="font-size: 14px;" align="justify">Acknowledgement: This workshop is supported by the Better Scientific Software Fellowship Program, a collaborative effort of the U.S. Department of Energy (DOE), Office of Advanced Scientific Research via ANL under Contract DE-AC02-06CH11357 and the National Nuclear Security Administration Advanced Simulation and Computing Program via LLNL under Contract DE-AC52-07NA27344; and by the National Science Foundation (NSF) via SHI under Grant No. 2327079.</p>